@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --paperColor: #FFFBCF;
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
}

.objective-board-content{
  margin-right: 6px;
  margin-top: 6px;
  margin-bottom: 6px;
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgb(19, 12, 7);
    border-radius: 24px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgba(19, 12, 7, 0.3);
  }
}

html{
  font-family: 'Caveat', cursive;
  font-size: 10px;
  font-weight: bold;
  @media screen and (max-width: 498px) {
    font-size: 8px;
  }
}

body *{
  font-size: 2.4rem;
}

.homepage{
  height: 100vh;
  width: 100vw;
  position:relative;
  padding: 36px;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: brightness(25%) grayscale(30%);
    background-image: url("./assets/wood.jpg");
    background-size: cover;
    z-index: -1;
  }
  @media screen and (max-width: 911px) {
    height: 100%;
    min-height: 100vh;
    width: 100%;
    &::before{
      background-size: 100%;
    }
  }
  @media screen and (max-width: 498px) {
    padding: 6px;
  }
}

.objective-board-container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "evidence1 board"
  "evidence2 board";
  gap: 24px;
  height: 100%;
  max-width: 1800px;
  margin:auto;
  &>div{
    width: 400px;
    height: 100%;
    position: relative;
    &::before{
      content:"";
      position:absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background-image: url("./assets/cork.jpg");
      background-size: cover;
      z-index: -1;
    }
  }
  .evidence{
    padding: 24px;
    align-self: flex-start;
    height: auto;
    border-radius: 24px;
    &::before{
      filter: brightness(50%);
      border-radius: 24px;
    }
    &.evidence-1{
      grid-area: evidence1;
    }
    &.evidence-2{
      grid-area: evidence2;
    }
  }
  .objective-board{
    width: 100%;
    height: 100%;
    grid-area: board;
    &::before{
      filter: brightness(75%) saturate(125%);
    }
  }
  @media screen and (max-width: 911px) {
    grid-template-columns: 1fr;
    grid-template-areas: "evidence1"
    "evidence2"
    "board"
    "board";
    gap: 6px;
    &>div{
      width: 100%;
      &::before{
        background-size: 100%;
      }
    }
  }
  @media screen and (max-width: 498px) {
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    .evidence{
      padding:12px;
      border-radius: 12px;
      &::before{
        border-radius: 12px;
      }
    }
  }
}

.evidence-paper{
  background:var(--paperColor);
  width: 100%;
  height: 100%;
  display: grid;
  gap: 24px;
  padding: 24px;
  .paper-header{
    font-size: 3.2rem;
    span{
      font-size: 2.4rem;
    }
  }
  .paper-filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    .filter-box{
      display: flex;
      align-items: center;
      position:relative;
      &.last{
        grid-column: 1 / 3;
      }
      label{
        padding: 6px 12px;
        flex-grow: auto;
        cursor:pointer;
        user-select: none;
      }
      input{
        padding: 6px;
        margin: 0px;
        height: 100%;
        width: 25px;
        cursor:pointer;
        opacity: 0;
        position: absolute;
      }
      img{
        width: 25px;
        opacity: 0;
        &.checked{
          opacity: 1;
        }
      }
    }
  }
  .paper-reset{
    justify-self: flex-end;
    margin-top: 18px;
    .paper-reset-button{
      background:none;
      border: none;
      font-weight: bold;
      font-size: 2.4rem;
    }
  }
}

.objective-board-content{
  display: grid;
  gap: 24px;
  height: calc(100% - 12px);
  width: calc(100% - 6px);
  overflow-y: auto;
  align-items: flex-start;
  grid-template-rows: repeat(2, min-content);
  //Very Cool
}

.objective-board-ghost-container{
  display: grid;
  gap: 24px;
  padding: 36px;
  padding-top: 30px;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  @media screen and (max-width: 498px) {
    padding: 12px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.ghost-container{
  background: var(--paperColor);
  padding: 24px;
  display: grid;
  gap: 20px;
  grid-template-areas: "ghostname evidence"
  "properties properties"
  "secondary secondary"
  "tertiary tertiary"
  "more more";
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto 1fr;
  .ghost-name{
    grid-area: ghostname;
    user-select: none;
    pointer-events: none;
    font-size: 2.8rem;
    transform: skewX(15deg);
  }
  .ghost-evidence{
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    grid-area: evidence;
    user-select: none;
    pointer-events: none;
    font-family: 'Pangolin', cursive;
    .ghost-evidence-display{
      display: grid;
      justify-items: center;
      gap: 8px;
      &:nth-of-type(2){
        transform: translateY(6px);
      }
    }
    img{
      width: 35px;
    }
    .evidence-text{
      font-size: 1.2rem;
      justify-self: center;
      text-align: center;
    }
  }
  .ghost-secondary{
    grid-area: secondary;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    ul{
      display: grid;
      gap: 12px;
      li{
        font-size: 1.8rem;
        color: rgb(48, 48, 48);
        b{
          font-size: 1.8rem;
          color:#f01246;
          font-weight: 700;
          &.equipment{
            color:#0d9759;
          }
          &.ability{
            color: blue;
          }
          &.evidence-highlight{
            color: #b9a102;
          }
        }
      }
    }
  }
  .ghost-tertiary{
    grid-area: tertiary;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    user-select: none;
    display: flex;
    flex-direction: column;
    ul{
      display: grid;
      gap: 12px;
      li{
        font-size: 1.4rem;
        color: rgb(64, 64, 64);
        b{
          font-size: 1.8rem;
          color: red;
          font-weight: 700;
        }
      }
    }
  }
  .ghost-more{
    justify-self: flex-end;
    align-self:flex-end;
    grid-area: more;
    width: 100%;
    text-align: end;
    font-size: 1.4rem;
    color: rgb(64, 64, 64);
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    &.hide{
      margin-top: 24px;
    }
  }
}