@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
  --normalFontFam: 'Pangolin', cursive;
}

:root[data-theme="light"] {
  --paperColor: #FFFBCF;
  --newPaperColor: rgba(56, 14, 14, 0.15);
  --newPaperColor: rgba(114, 116, 0, 0.15);
  // --newPaperColor: rgba(78, 49, 45,.9);
  // --newPaperColor: rgba(66, 13, 9,.8);
  background-color: #22180D;
  --newPaperColorFlat: #EAE7B0;

  --fontColor: black;
  --tipColor: rgb(97, 96, 76);
  --listColor: rgb(48, 48, 48);
  --listTertiaryColor: rgb(64, 64, 64);
  --evidenceTextColor: rgb(97, 96, 76);
  // --evidenceTextColor: rgb(58, 58, 58);
  --boardTipColor: #FFFBCF;

  --tooltipColor: rgba(0, 0, 0,.5);
  --tooltipColorShadow: rgba(0, 0, 0,.5);

  --mobileBGColor: #C69B6F;
  --mobileBGColorLighter: #daaa7a;
  --mobileBorderColor: #634E38;
  --backgroundImage: url("./assets/wood.jpg");
  --boardImage: url("./assets/cork.jpg");
  b{
    filter:contrast(1) brightness(.7);
    // color: red !important;
    &.ability{
      filter:contrast(1) brightness(.7);
      // color: red !important;
    }
  }
  .evidence-text{
    @media screen and (max-width: 1309px) {
      filter:contrast(1);
    }
  }
  .expert .evidence-text{
    filter:contrast(1);
  }
  .homepage{
    &::before{
      filter: brightness(25%) grayscale(30%);
      background-color: none;
      background-blend-mode:normal;
    }
  }
    .objective-board-container{
      .evidence{
        &::before{
          filter: brightness(.5);
          background-color: none;
          background-blend-mode:normal;
          @media screen and (max-width: 911px) {
            filter: brightness(.5);
          }
        }
      }
    }
    .objective-board{
      &::before{
          filter: brightness(.65) saturate(1.25);
          @media screen and (max-width: 911px) {
            background-color: var(--mobileBGColor);
            filter: brightness(.25);
          }
        }
      }
  .objective-board-content{
    // scroll-behavior: smooth;
    scroll-behavior: unset;
    &::-webkit-scrollbar-thumb {
      background: rgb(19, 12, 7);
      border-radius: 24px;
    }
    
    &::-webkit-scrollbar-track {
      background: rgba(19, 12, 7, 0.3);
    }
  }
  .fill-bar{
    filter:contrast(1) !important;
  }
}

:root {
  --paperColor: rgb(0, 63, 87);
  --paperColor: rgb(0, 57, 80);
  --newPaperColor: rgb(0, 37, 51);
  --newPaperColor: rgba(0, 37, 51, .7);
  --newPaperColor: rgba(0, 37, 51, .4);
  --newPaperColorFlat: #003144;

  --fontColor: rgb(198, 198, 222);
  --tipColor: rgb(198, 198, 222);
  --listColor: rgb(176, 176, 199);
  --listTertiaryColor: rgb(158, 158, 179);
  --evidenceTextColor: #0d9759;
  --boardTipColor: rgb(158, 158, 179);

  --tooltipColor: rgba(198, 198, 222, .5);
  --tooltipColorShadow: rgba(198, 198, 222, .15);
  --tooltipColorShadow: none;

  --backgroundImage: url("./assets/concrete.jpg");
  --boardImage: url("./assets/metalNew.jpg");

  --mobileBGColor: rgb(0, 36, 51);
  --mobileBGColorLighter: rgb(0, 40, 57);
  --mobileBorderColor: #00121A;
  background-color: black;
  b{
    filter:brightness(2) contrast(.4);
    &.ability{
      filter:brightness(2) contrast(.25);
    }
  }
  .evidence-text{
    @media screen and (max-width: 1309px) {
      filter:contrast(.7);
    }
  }
  .expert .evidence-text{
    filter:contrast(.7);
  }
  .homepage{
    &::before{
      filter: brightness(.5);
      background-color: rgba(0, 63, 87,.5);
      background-blend-mode:screen;
    }
  }
  .objective-board{
    &::before{
          filter: brightness(.1);
        }
      }
    .objective-board-container{
      &>div{
        &::before{
          filter: brightness(.2);
          background-color: rgba(0, 63, 87,.5);
          background-blend-mode:screen;
          @media screen and (max-width: 911px) {
            filter: brightness(.5);
          }
        }
      }
    }
  .objective-board-content{
    &::-webkit-scrollbar-thumb {
        background: rgb(0, 57, 80);
        border-radius: 24px;
    }
    
    &::-webkit-scrollbar-track {
      background: rgba(0, 57, 80,.3);
    }
  }
  .fill-bar{
    filter:contrast(.7) brightness(1) !important;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  overscroll-behavior: contain;
}

.objective-board-content{
  margin-right: 6px;
  margin-top: 3.6rem;
  margin-bottom: 6px;
  overscroll-behavior: contain;
  &::-webkit-scrollbar {
    width: 12px;
  }
  
  &::-webkit-scrollbar-thumb {
    background: rgb(19, 12, 7);
    border-radius: 24px;
  }
  
  &::-webkit-scrollbar-track {
    background: rgba(19, 12, 7, 0.3);
  }
}

html{
  font-family: 'Caveat', cursive;
  font-size: 10px;
  font-weight: bold;
  color: var(--fontColor);
  @media screen and (max-width: 498px) {
    font-size: 8px;
  }
}

body *{
  font-size: 2.4rem;
}

.homepage{
  height: 100vh;
  width: 100vw;
  position:relative;
  padding: 12px 12px;
  transition: transform .2s ease-in 0s;
  overscroll-behavior: contain;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    filter: brightness(25%) grayscale(30%);
    background-image: var(--backgroundImage);
    background-size: cover;
    z-index: -1;
  }
  @media screen and (max-width: 911px) {
    height: 100%;
    width: 100%;
    padding-top: 30px;
    &::before{
      background-size: 100%;
      // background-color: #C69B6F;
      background-image: none;
    }
  }
  @media screen and (max-width: 498px) {
    padding: 6px;
    padding-top: 30px;
  }
  @media screen and (min-width: 912px) {
    transform: translateY(0px) !important;
  }
}

.objective-board-container{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas: "evidence1 board"
  "evidence2 board";
  gap: 12px;
  height: 100%;
  max-width: 1800px;
  margin:auto;
  &>div{
    width: 400px;
    height: 100%;
    position: relative;
    &::before{
      content:"";
      position:absolute;
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      background-image: var(--boardImage);
      // background-color: #C69B6F;
      background-size: cover;
      z-index: -1;
    }
  }
  .objective-board{
    width: 100%;
    height: 100%;
    grid-area: board;
    transition: transform .2s ease-in 0s;
    &::before{
    }
  }
  .evidence{
    padding: 24px;
    &::before{
      filter: brightness(50%);
      border-radius: 24px;
    }
    &.evidence-2{
      height: auto;
      align-self: flex-start;
    }
  }
  @media screen and (max-width: 911px) {
    grid-template-columns: 1fr;
    grid-template-areas: "evidence1"
    "board";
    gap: 6px;
    margin-top: 6px;
    &>div{
      width: 100%;
      &::before{
        background-size: 100%;
        background-color: var(--mobileBGColor);
        background-image: none;
      }
    }
    .evidence.evidence-1{
      display: none;
    }
    .evidence-2{
      display: none;
      padding: 12px;
      &::before{
        background-size: 100%;
        background-color: var(--mobileBGColor);
        background-image: none;
        border-radius: 0px;
      }
      .paper-filters{
        margin: 0px;
      }
    }
  }
  @media screen and (max-width: 498px) {
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin-top: 0px;
    .evidence{
      padding:12px;
      border-radius: 12px;
      &::before{
        border-radius: 12px;
      }
    }
    .evidence-2{
      padding: 6px;
      &::before{
        background-size: 100%;
        background-color: var(--mobileBGColor);
        background-image: none;
        border-radius: 0px;
      }
    }
  }
}

.evidence.mobile{
  width: 100%;
  height: 100%;
  position: relative;
  display: none;
  &::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-image: var(--boardImage);
    background-size: cover;
    z-index: -1;
    background-color: var(--mobileBGColorLighter);
    background-image: none;
  }
  .sticky-remover-container{
    position: absolute;
    width: 100%;
    // padding: 8px 0px;
    // bottom: -34px;
    left: 50%;
    transform: translateX(-50%);
    background-image: var(--boardImage);
    background-size: cover;
    // border-bottom: 3px solid black;
    cursor: pointer;
    user-select: none;
    text-align: center;
    // background-color: black;
    background-image: none;
    display: flex;
    grid-template-columns: auto 1fr;
    justify-content: center;
    .evidence-screen-switcher{
      flex-grow: 1;
      // border-right:solid 1px black;
      position: relative;
      border-bottom-right-radius: 8px;
      border-right: solid 2px var(--mobileBorderColor);
      border-bottom: solid 2px var(--mobileBorderColor);
    }
    .sticky-remover{
      flex-grow: .5;
      // border-left :solid 1px black;
      border-bottom-left-radius: 8px;
      border-left: solid 2px var(--mobileBorderColor);
      border-bottom: solid 2px var(--mobileBorderColor);
      transform: translateX(-1px) scaleX(1px);
    }
    .evidence-screen-switcher,.sticky-remover{
      height: 100%;
      background-color: var(--mobileBGColorLighter);
      padding: 8px 0px;
      font-family: var(--normalFontFam);
      span{
        display:inline-block;
        font-size: 1.8rem;
        // transform: skew(15deg);
      }
    }
    .evidence-screen-switcher{
      height: 100%;
      background-color: var(--mobileBGColorLighter);
      padding: 8px 0px;
      // &::before{
      //   position: absolute;
      //   right: -2px;
      //   top: 50%;
      //   content: "";
      //   width: 4px;
      //   height: 90%;
      //   background: black;
      //   // border-top-left-radius: 500px;
      //   // border-top-right-radius: 500px;
      //   transform: translateY(-50%);
      // }
    }
  }
  @media screen and (max-width: 911px) {
      padding: 6px;
      display: block;
      position: fixed;
      top: 0;
      left: 0;
      height: auto;
      width: 100%;
      z-index: 999;
      transform: translateY(-99%);
      transition: transform .2s ease-in 0s;
      &::before{
        border-radius: 0px;
      }
      &.ghost-div{
        position: relative;
        opacity: 0;
        pointer-events: none;
        user-select: none;
      }
      &.hide{
        transform: translateY(0%);
      }
  }
  @media screen and (max-width: 498px) {
    // grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      padding:6px;
      // border-radius: 12px;
      &::before{
        // border-radius: 12px;
      }
  }
}

.speed-mobile{
  display: grid;
  top: 0;
  right: 0;
  grid-area: speed;
  align-self: flex-start;
}

.filter-box{
  display: flex;
  align-items: center;
  position:relative;
  min-width: 0;
  &.last{
    grid-column: 1 / 3;
  }
  &.not-possible{
    pointer-events: none;
    color:var(--tooltipColor);
  }
  label{
    padding: 6px 12px;
    flex-grow: auto;
    cursor:pointer;
    user-select: none;
    // transform: skew(15deg);
    white-space:nowrap;
    position: relative;
    &.extra-input{
      transform: none;
      span{
        display: inline-block;
        transform: skew(15deg);
      }
    }
    span{
      display: inline-block;
      transform: skew(15deg);
    }
    &::before{
      content:'';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 50%;
      left: 50%;
      background-size: 100% 100%;
      z-index: 10;
      transform: translate(-50%,-50%) scale(1.2);
      user-select: none;
      pointer-events: none;
    }
    &.checked{
      &::before{
        background-image: url("./assets/checked.png");
        background-image: url("./assets/checkedDark.png");
        transform: translate(-50%,-50%) scaleY(1.2) scaleX(1.1);
      }
    }
    &.eliminated{
      &::before{
        background-image: url("./assets/eliminated.png");
        background-image: url("./assets/eliminatedDark.png");
        transform: translate(-50%,-50%) rotateZ(-1deg);
        background-size: 100% 6px;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  input{
    padding: 6px;
    margin: 0px;
    height: 100%;
    width: 25px;
    // cursor:pointer;
    opacity: 0;
    position: absolute;
    pointer-events: none;
    user-select: none;
    &#expert{
      opacity: 0;
      // pointer-events:all;
      // cursor: pointer;
    }
  }
  img{
    width: 25px;
    opacity: 0;
    user-select: none;
    &.checked{
      opacity: 1;
    }
  }
  .recommended{
    position: absolute;
    font-size: 1.2rem;
    font-family: 'Pangolin', cursive;
    top: 100%;
    left: 36px;
    color: var(--tooltipColor);
    font-style: italic;
    user-select: none;
    pointer-events: none;
    @media screen and (max-width: 498px) {
      bottom: 0px;
      top: calc(100%);
    }
  }
  &.expert{
    margin-bottom: 12px;
  }
}
.ghost-speed-container{
  grid-template-columns: 1fr 1.3fr 1fr;
  display: grid;
  font-size: 1rem;
  grid-template-areas: "header header header"
  "slow normal fast";
  row-gap: 20px;
  // margin-top: 12px;
  &.speed-mobile{
    display: none;
  }
  @media screen and (max-width: 911px) {
    font-size: .7rem;
    row-gap: 6px;
    grid-template-columns: 1fr;
    grid-template-areas: "header"
    "slow"
    "normal"
    "fast";
    display: none;
    .ghost-speed-header{
      // text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    }
    &.speed-mobile{
      display: grid;
    }
    .filter-box{
      label{
        // font-size: .8em;
        span{
          font-size: .8em;
        }
      }
    }
  }
}

.ghost-speed-header,.timer-header{
  font-size: 2.4em;
  transform: skew(15deg);
  grid-area: header;
  user-select: none;
  pointer-events: none;
  color: var(--listTertiaryColor);
  span{
    font-size: .8em;
  }
  @media screen and (max-width:911px) {
    font-size: 3.2em;
  }
}

.evidence-paper{
  background:var(--paperColor);
  width: 100%;
  height: 100%;
  display: grid;
  gap: 24px;
  padding: 24px;
  position: relative;
  font-size: 10px;
  min-width: 0;
  .paper-header{
    font-size: 3.2em;
    transform: skew(15deg);
    user-select: none;
    color: var(--listTertiaryColor);
    pointer-events: none;
    span{
      font-size: 2.4rem;
    }
    select,select *,select::after{
      transform: skew(-15deg);
      user-select:all;
      pointer-events: all;
      background: var(--newPaperColorFlat);
      color: var(--fontColor);
      border-radius: 6px;
      margin-left: 16px;
      padding-right: 4px;
      font-family: var(--normalFontFam);
      font-size: 1.8rem;
      cursor: pointer;
    }
  }
  .paper-filters{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 40% 60%;
    gap: 20px;
    column-gap: 32px;
  }
  .paper-reset{
    justify-self: flex-end;
    margin-top: 18px;
    user-select: none;
    .paper-reset-button{
      background:none;
      border: none;
      font-weight: bold;
      font-size: 2.4rem;
      transform: skew(15deg);
      color: var(--listTertiaryColor);
      cursor: pointer;
    }
  }
  &.extras{
    height: auto;
    .paper-filters{
      grid-template-columns: 1fr;
    }
  }
  @media screen and (max-width: 911px) {
    padding: 6px;
    font-size: 8px;
    gap: 6px;
    grid-template-columns: 1fr auto;
    grid-template-areas: "header speed"
    "evidence speed";
    .paper-header{
      font-size: 2.4rem;
      // display: none;
      span{
        font-size: 2rem;
      }
    }
    .paper-filters{
      gap: 12px;
      grid-area: evidence;
      // margin: 0px 36px;
      margin: auto;
      margin-bottom: 8px;
      column-gap: 20px;
      .filter-box{
        label{
          // font-size: .8em;
          span{
            font-size: .8em;
          }
        }
      }
    }
    .paper-reset{
      margin-top: 0px;
      position: absolute;
      bottom: 6px;
      right: 6px;
    }
    &.extras{
      grid-template-columns: 1fr;
      grid-template-areas: "header"
      "evidence";
      .paper-filters{
        width: 100%;
        grid-template-columns: 1fr auto;
        gap: 12px;
        grid-template-areas: "smudge options"
        "hunt options";
        align-items: flex-start;
      }
    }
  }
}

.objective-board-content{
  display: grid;
  gap: 24px;
  height: calc(100% - 32px);
  width: calc(100% - 6px);
  overflow-y: auto;
  align-items: flex-start;
  grid-template-rows: repeat(1, min-content);
  //Very Cool, shrinks to fit content
  .objective-board-tooltip{
    position: absolute;
    font-family: 'Pangolin', cursive;
    font-size: 2rem;
    left: 8px;
    top: 8px;
    color: var(--boardTipColor);
    text-shadow: 5px 5px 3px rgba(0,0,0,0.7);
    user-select: none;
  }
  @media screen and (max-width: 911px) {
    height: calc(100% - 24px);
    .objective-board-tooltip{
      text-shadow: 3px 3px 3px rgba(0,0,0,0.7);
    }
  }
  @media screen and (max-width: 498px) {
    width: calc(100% - 0px);
  }
}

.objective-board-ghost-container{
  display: grid;
  gap: 24px;
  padding: 36px;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  &.expert{
    @media screen and (min-width: 1310px) {
    padding: 12px;
    grid-template-columns: repeat(3, minmax(220px, 1fr));
    gap:12px;
    }
  }
  @media screen and (max-width: 1309px) {
    padding: 12px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:12px;
  }
  @media screen and (max-width: 911px) {
    padding: 12px;
    grid-template-columns: 1fr;
    gap:12px;
  }
  @media screen and (max-width: 498px) {
    padding: 6px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

.ghost-container{
  background: var(--paperColor);
  background-image: linear-gradient(180deg, var(--newPaperColor) 0%, var(--newPaperColor) 66px, var(--paperColor) 66px);
  padding: 12px;
  padding-bottom: 12px;
  display: grid;
  gap: 20px;
  row-gap: 30px;
  min-height: 85px;
  grid-template-areas: "ghostname evidence"
  "expert expert"
  "secondary secondary"
  "tertiary tertiary"
  "more more";
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto auto auto auto 1fr;
  position: relative;
  cursor:pointer;
  overflow:hidden;
  box-shadow: 5px 5px 5px var(--tooltipColorShadow);
  &:has(.ghost-secondary.hide){
    grid-template-areas: "ghostname evidence"
      "expert expert"
      "tertiary tertiary"
      "more more";
    grid-template-rows: auto auto auto 1fr;
    &:has(.ghost-tertiary.hide){
      grid-template-areas: "ghostname evidence"
        "expert expert"
        "more more";
      grid-template-rows: auto auto 1fr;
    }
  }
  &:has(.ghost-tertiary.hide){
    grid-template-areas: "ghostname evidence"
      "expert expert"
      "secondary secondary"
      "more more";
      grid-template-rows: auto auto auto 1fr;
  }
  &:has(.ghost-expert.hide){
    grid-template-areas: "ghostname evidence"
      "secondary secondary"
      "tertiary tertiary"
      "more more";
      grid-template-rows: auto auto auto 1fr;
      &:has(.ghost-tertiary.hide){
        grid-template-areas: "ghostname evidence"
        "secondary secondary"
        "more more";
        grid-template-rows: auto auto 1fr;
      }
  }
  .ghost-name{
    grid-area: ghostname;
    user-select: none;
    pointer-events: none;
    font-size: 2.4rem;
    font-family: 'Pangolin', cursive;
    color: var(--tipColor);
  }
  .ghost-evidence{
    display: grid;
    gap: 12px;
    grid-auto-flow: column;
    grid-area: evidence;
    user-select: none;
    pointer-events: none;
    font-family: 'Pangolin', cursive;
    .ghost-evidence-display{
      display: grid;
      justify-items: center;
      gap: 8px;
      color: var(--tipColor);
      &:nth-of-type(2){
        // transform: translateY(6px);
      }
    }
    img{
      width: 25px;
    }
    .evidence-text{
      font-size: 1.2rem;
      justify-self: center;
      text-align: center;
    }
  }
  .ghost-secondary,.ghost-expert{
    grid-area: secondary;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    user-select: none;
    pointer-events: none;
    ul{
      display: grid;
      gap: 8px;
      li{
        font-size: 1.8rem;
        color: var(----listColor);
        b{
          font-size: 1.8rem;
          color:#f01246;
          font-weight: 700;
          &.equipment{
            color:#0d9759;
          }
          &.ability{
            color: blue;
          }
          &.evidence-highlight{
            color: #b9a102;
            color: var(--evidenceTextColor);
            color: #0d9759;
          }
        }
      }
    }
    &.hide{
      display:none;
    }
  }
  .ghost-expert{
    grid-area: expert;
  }
  .ghost-tertiary{
    grid-area: tertiary;
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    user-select: none;
    display: flex;
    flex-direction: column;
    ul{
      display: grid;
      gap: 12px;
      li{
        font-size: 1.4rem;
        color: var(--listTertiaryColor);
        b{
          font-size: 1.8rem;
          color: red;
          font-weight: 700;
        }
      }
    }
    &.hide{
      display:none;
    }
  }
  .ghost-more{
    justify-self: flex-end;
    align-self:flex-end;
    grid-area: more;
    text-align: end;
    font-size: 1.4rem;
    color: var(----listTertiaryColor);
    font-family: 'Pangolin', cursive;
    font-weight: 400;
    cursor: pointer;
    padding: 12px 6px;
    user-select: none;
    &.hide{
      margin-top: 24px;
    }
  }
  &.hide{
    opacity: 0;
    grid-area: none;
    position: absolute;
    pointer-events: none !important;
    user-select: none !important;
  }
  &.eliminated{
    gap: 0px;
    // background: var(--paperColor);
    background-image: none !important;
    min-height: 0px;
    grid-template-areas: "ghostname ghostname" !important;
    grid-template-rows: 1fr !important;
    .ghost-evidence,.ghost-secondary,.ghost-tertiary,.ghost-more,.ghost-expert{
      display:none;
    }
    .ghost-name{
      color: var(--tooltipColor) !important;
      transform: none !important;
    }
  }
  .ghost-more{
    position: absolute;
    right: -16px;
    bottom: -16px;
  }
  &.expert{
    background-image: linear-gradient(-90deg, var(--newPaperColor) 0%, var(--newPaperColor) 66px, var(--paperColor) 66px);
    gap: 0px;
    padding: 12px;
    .ghost-name{
      font-size: 2rem;
      letter-spacing: .2rem;
      transform: translateX(-3px) translateY(-6px);
      color: var(--listTertiaryColor);
      color: var(--tipColor);
      justify-self: flex-start;
      position: relative;
      margin-bottom: 10px;
      &::before{
        content:"";
        position: absolute;
        background-color: var(--newPaperColor);
        width: 200%;
        height: 200%;
        bottom: -6px;
        right: -12px;
        z-index: -1;
        border-bottom-right-radius: 12px;
        // opacity: .8;
      }
    }
    .ghost-evidence{
      position: absolute;
      right: -12px;
      top: 0px;
      grid-auto-flow: row;
      gap: 4px;
      white-space: nowrap;
      width: 36px;
      transform: translateX(-50%);
      .ghost-evidence-display{
        transform: translateY(0px);
        &:nth-of-type(2){
          transform: translateY(0px);
        }
      }
      img{
        width: 25px;
        display: none;
      }
      .evidence-text{
        font-size: 1.1rem;
        color: var(--evidenceTextColor);
      }
    }
    .ghost-secondary,.ghost-expert,.ghost-tertiary{
      padding-right: 60px;
      padding-left: 12px;
    }
    .ghost-secondary,.ghost-expert{
      ul{
        li{
          font-size: 1.4rem;
          b{
            font-size: 1.4rem;
          }
        }
      }
    }
    .ghost-more{
      right: -8px;
      color: var(--tipColor);
    }
  }
  @media screen and (max-width: 1309px) {
    gap: 6px;
    row-gap: 18px;
    padding: 12px;
    background-image: linear-gradient(180deg, var(--newPaperColor) 0%, var(--newPaperColor) 42px, var(--paperColor) 42px);
    .ghost-name{
      font-size: 2.2rem;
      letter-spacing: .2rem;
      transform: translateX(-3px);
    }
    .ghost-evidence{
      .ghost-evidence-display{
        transform: translateY(0px);
        &:nth-of-type(2){
          transform: translateY(0px);
        }
      }
      img{
        width: 25px;
        display: none;
      }
      .evidence-text{
        font-size: 1.1rem;
        color: #b9a102;
      }
    }
    .ghost-secondary,.ghost-expert{
      ul{
        li{
          font-size: 1.4rem;
          b{
            font-size: 1.4rem;
          }
        }
      }
    }
  }
  @media screen and (max-width: 498px) {
    padding: 12px;
    background-image: linear-gradient(180deg, var(--newPaperColor) 0%, var(--newPaperColor) 36px, var(--paperColor) 36px);
    row-gap: 12px;
    .ghost-name{
      font-size: 2.4rem;
    }
    .ghost-evidence{
      .evidence-text{
        font-size: 1.2rem;
        color: #b9a102;
      }
    }
    .ghost-secondary,.ghost-expert{
      ul{
        li{
          font-size: 1.6rem;
          b{
            font-size: 1.6rem;
          }
        }
      }
    }
    .ghost-more{
      padding: 6px;
      &.hide{
        margin-top: 6px;
      }
    }
    &.expert{
      .ghost-evidence{
        // right: -18px;
      }
      .ghost-more{
        bottom: -8px;
        right: -6px;
      }
    }
  }
}

.timer-container{
  display: grid;
  gap: 12px;
  font-size: 1rem;
  .timer-header{
    color: var(--listTertiaryColor);
    transform: skew(15deg);
    // font-size: 2.2rem;
    grid-area:auto;
    // font-family: var(--normalFontFam);
  }
  @media screen and (max-width:911px) {
    font-size: .5rem;
    gap:0px;
    &.smudge{
      grid-area: smudge;
    }
    &.hunt{
      grid-area: hunt;
    }
  }
}

.ghost-timer{
  position: relative;
  width: 100%;
  justify-self:stretch;
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 6px;
  .play-button{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    .contained-button{
      height: 30px;
      width: 30px;
      background-size: contain;
      background-position: center;
      position: relative;
      z-index: 10;
      &.play{
        // background-image: url("./assets/play.png");
        mask-image: url("./assets/play.png");
        mask-size: contain;
        background-color: var(--listTertiaryColor);
        background-blend-mode: luminosity;
      }
      &.pause{
        // background-image: url("./assets/pause.png");
        mask-image: url("./assets/pause.png");
        mask-size: contain;
        background-color: var(--listTertiaryColor);
        background-blend-mode: luminosity;
      }
    }
    &::before{
      position: absolute;
      content:"";
      left:50%;
      top:50%;
      background: var(--newPaperColor);
      border-radius: 50%;
      height: 85%;
      width: 85%;
      transform: translate(-50%,-50%);
      // opacity: .5;
    }
  }
  .timer-bar{
    position: relative;
    width: 100%;
    // background: var(--newPaperColor);
    border: solid 1px black;
    height: 25px;
    .fill-bar{
      background: var(--tooltipColor);
      // background: var(--evidenceTextColor);
      height: 100%;
      position: absolute;
      z-index: 1;
    }
  }
  .interval-container{
    display: grid;
    justify-items: center;
    position: absolute;
    bottom: 0;
  }
  .interval{
    position: absolute;
    bottom: 0;
    background: black;
    height: 24px;
    width: 2px;
    z-index: 10;
  }
  .interval-label{
    position: absolute;
    bottom: 28px;
    font-family: var(--normalFontFam);
    font-size: 1rem;
    @media screen and (max-width:911px) {
      bottom: 34px;
      writing-mode: tb-rl;
      transform:scale(-1) rotateZ(130deg) translateX(-12px);
      letter-spacing: 2px;
      justify-self:flex-end; 
    }
    @media screen and (max-width:498px) {
      font-size: 1rem;
    }
  }
}